<h4><%= @maintenance_item.name.pluralize %> Maintenance Categories</h4>
<% @maintenance_categories.each do |category| %>
  <%= link_to  category.name, maintenance_category_path(category) %><br>
<% end %>
<br>
<%= link_to  "Edit", edit_maintenance_item_path(@maintenance_item) %><br>
<%= link_to  "Add a New Maintenance Category", new_maintenance_item_maintenance_category_path %><br>