<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
  <% if user_signed_in? %>
    <div class="d-flex">
      <a class="navbar-brand">MT</a>
    </div>
    <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar">
      <div><!--placeholder to evenly space flexbox items and center links--></div>
      <ul class="navbar-nav">
        <li class="nav_item nav-link">
          <a href="/">Home</a>
        </li>
        <li class="nav_item nav-link">
          <a href="/upcoming">Upcoming</a>
        </li>
        <li class="nav_item nav-link">
          <a href="/past_due">Past Due</a>
        </li>
        <li class="nav_item nav-link">
          <%= link_to  "Log Out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row">
        <li class="nav_item nav-link">Welcome,
          <%= current_user.email %>
        </li>
      </ul>
    </div>
  <% else %>
    <a class="navbar-brand mx-auto" href="/users/sign_in">Sign in</a>
  <% end %>

</nav>